// Colors
$theme-primary: #303131;
$highlight-yellow: #f0ea6e;
$blue: #3fa9f5;
$orange: #f5a623;
$white: #fff;
$surface-translucent: rgba(134, 233, 214, 0.2);
$teal: rgba(77, 213, 188, 1);

// Player colors
$player-blue: $blue;
$player-orange: $orange;

// Fonts
$font-primary: 'Red Rose', sans-serif;
$font-secondary: 'Almarai', sans-serif;

// Font weights
$font-weight-regular: 400;
$font-weight-bold: 700;