// Colors
$theme-primary: #303131;
$highlight-yellow: #f0ea6e;
$white: #fff;

// Fonts
$font-primary: "Red Rose", sans-serif;
$font-secondary: "Almarai", sans-serif;

// Font weights
$font-weight-regular: 400;
$font-weight-bold: 700;