@use '../abstract/variables.scss' as variables;

.game-page {
    background-color: variables.$theme-primary;
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px 160px 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: variables.$white;
}

.game-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0 56px;

    &__current-player {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px
    }

    &__current-player-label {
        font-size: 26px;
    }

    &__current-player-marker {
        width: 29px;
        height: 24px;
    }

    &__exit {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 24px;
        border: 1px solid variables.$teal;
        gap: 16px;
        background-color: variables.$surface-translucent;
        color: variables.$white;
        transition: background-color 0.2s ease, border-color 0.2s ease,
              box-shadow 0.2s ease;

        &:hover {
            background-color: rgba(134, 233, 214, 0.26);
            border-color: #4dd5bc;
            box-shadow: 
            inset 0 0 0 2px #4dd5bc,
            4px 4px 6px 0 rgba(77, 213, 188, 0.2);
        }
    }

    &__exit-icon {
        width: 25.75px;
        height: 22.5px;
    }

    &__exit-label {
        font-weight: variables.$font-weight-bold;
        font-size: 24px;
    }
}

 .game-score {
    background-color: variables.$surface-translucent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-inline-start: 0;
    padding: 0 16px;
    gap: 16px;
    
    &__player {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;

        &--blue {
            color: variables.$player-blue;
        }
        &--orange {
            color: variables.$player-orange;
        }
    }

    &__marker {
        width: 24px;
        height: 20px;
    }

    &__name,
    &__points {
        font-weight: variables.$font-weight-bold;
        font-size: 24px;
    }
}

.game-board {
    display: grid;
    gap: 16px;
    width: fit-content;

    &--4-columns {
        grid-template-columns: repeat(4, 120px);
    }

    &--6-columns {
        grid-template-columns: repeat(6, 120px);
    }
}

.game-card {
    aspect-ratio: 1;
    padding: 0;
    border: none;
    background: none;
    perspective: 1000px;

    &__inner {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 300ms ease-in-out;
    }

    &__front,
    &__back {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }

    &__front {
    transform: rotateY(180deg);
    }

    &.is-flipped .game-card__inner {
    transform: rotateY(180deg);
    }
}

.game-over,
.game-result {
    position: fixed;
    inset: 0;
    z-index: 10;
    background-color: variables.$theme-primary;
    transform: translateY(-100%);
    transition: transform 0.5s ease-out;
    pointer-events: none;

    &--visible {
    transform: translateY(0);
    pointer-events: auto;
    }
}

.game-over {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 112px;

    &__scoreboard {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;

        &--text {
            font-size: 26px;
        }
    }

    & .game-score {
        padding: 12px 16px
    }
}

.game-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__confetti {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  &__intro {
    font-size: 40px;
    margin: 0;
  }

  &__winner {
    font-size: 60px;
    font-weight: variables.$font-weight-bold;
    text-transform: uppercase;
    margin: 0;
  }

  &__winner-img {
    width: 320px;
  }

  &__icon {
    padding: 40px 0;
    width: 200px;
    height: 250px;
  }

  &--blue &__winner {
    color: variables.$player-blue;
  }

  &--orange &__winner {
    color: variables.$player-orange;
  }

  &--draw &__confetti {
    display: none;
  }

  &__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 20px;
    border: 1px solid variables.$teal;
    gap: 16px;
    background-color: variables.$surface-translucent;
    color: variables.$white;
    font-size: 24px;
    font-weight: variables.$font-weight-bold;
    }
}

.exit-dialog {
    border: none;
    padding: 40px;
    max-width: 540px;
    background-color: #fff;
    text-align: center;
    transform: translateY(-250%);
    transition: transform 0.4s ease-out;

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.3);
        opacity: 0;
        transition: opacity 0.4s ease-out;
    }

    &--open {
        transform: translateY(0);

        &::backdrop {
            opacity: 1;
        }
    }

    &__question {
        margin: 0 0 32px;
        font-size: 36px;
        font-weight: variables.$font-weight-bold;
    }

    &__actions {
        display: flex;
        justify-content: center;
        gap: 16px;
    }

    &__button {
        font-family: variables.$font-primary;
        font-weight: variables.$font-weight-bold;
        font-size: 20px;
        padding: 12px 24px;
        font-weight: variables.$font-weight-bold;
        cursor: pointer;

        &--back {
            border: none;
            background-color: variables.$teal;
            color: #fff;
            transition: background-color 0.2s ease, border-color 0.2s ease,
            box-shadow 0.2s ease;

            &:hover {
                background-color: rgba(134, 233, 214);
                border-color: #4dd5bc;
                box-shadow: 
                inset 0 0 0 2px #4dd5bc,
                4px 4px 6px 0 rgba(77, 213, 188, 0.2);
            }
        }

        &--exit {
            border: 1px solid variables.$teal;
            background-color: transparent;
            color: variables.$teal;
            transition: background-color 0.2s ease, border-color 0.2s ease,
            box-shadow 0.2s ease;

            &:hover {
                background-color: rgba(134, 233, 214, 0.26);
                border-color: #4dd5bc;
                box-shadow: 
                inset 0 0 0 2px #4dd5bc,
                4px 4px 6px 0 rgba(77, 213, 188, 0.2);
            }

        }
    }
}