@use '../abstract/variables.scss' as variables;

.btn {
    padding: 8px;
    background-color: variables.$highlight-yellow;

    &__home {
        width: 128px;
        height: 40px;
        color:variables.$theme-primary;
        text-decoration: none;
        gap: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    &:hover {
        cursor: pointer;
    }

}