@use '../abstract/variables.scss' as variables;

.btn {
    background-color: variables.$highlight-yellow;

    &__home {
        font-size: 40px;
        padding: 24px;
        color:variables.$theme-primary;
        text-decoration: none;
        gap: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
    }

    &:hover {
        cursor: pointer;
    }

}