@use '../abstract/_variables.scss' as variables;
@use '../abstract/_breakpoints.scss' as bp;
@use '../abstract/_functions.scss' as fct;
@use '../abstract/_mixins.scss' as mixins;

/* === EXIT DIALOG === */
.exit-dialog {
    border: none;
    border-radius: var(--card-radius);
    padding: 40px;
    max-width: 540px;
    background-color: variables.$white;
    text-align: center;
    transform: translateY(-250%);
    transition: transform variables.$transition-dialog-slide;

    @include bp.respond("tablet") {
        max-width: 400px;
        padding: 16px;
    }

    @include bp.respond("tablet") {
        max-width: 294px;
        padding: 16px;
    }

    @include bp.respond("mobile") {
        max-width: 294px;
        padding: 8px 0;
    }

    /* === BACKDROP & OPEN STATE === */
    &::backdrop {
        background-color: rgba(0, 0, 0, 0.3);
        opacity: 0;
        transition: opacity variables.$transition-dialog-slide;
    }
}

.exit-dialog--open {
    transform: translateY(0);

    &::backdrop {
        opacity: 1;
    }
}

/* === QUESTION === */
.exit-dialog__question {
    margin: 0 0 32px;
    font-size: 36px;
    font-weight: variables.$font-weight-bold;

    @include bp.respond("tablet") {
        font-size: fct.px-to-rem(24);
    }

    @include bp.respond("mobile") {
        font-size: fct.px-to-rem(16);
        margin: 0 0 16px;
    }
}

/* === DIALOG ACTIONS === */
.exit-dialog__actions {
    @include mixins.flex($justify: center, $gap: 16px);
}

.exit-dialog__button {
    border-radius: var(--card-radius);
    font-family: variables.$font-primary;
    font-weight: variables.$font-weight-bold;
    font-size: 20px;
    padding: 12px 24px;
    font-weight: variables.$font-weight-bold;
    cursor: pointer;

    @include bp.respond("mobile") {
        font-size: fct.px-to-rem(16);
        padding: 8px 12px;
    }
}

/* === BACK TO GAME BUTTON === */
.exit-dialog__button--back {
    border: none;
    background-color: var(--exit-dialog-back-to-game-bg);
    color: var(--exit-dialog-back-to-game-color);
    transition: background-color variables.$transition-fast, border-color variables.$transition-fast,
        box-shadow variables.$transition-fast;

    &:hover {
        background-color: var(--exit-dialog-back-to-game-hover-bg-color);
        border-color: variables.$teal;
        box-shadow: var(--exit-dialog-back-to-game-hover);
    }
}

/* === EXIT GAME BUTTON === */
.exit-dialog__button--exit {
    border: 1px solid variables.$teal;
    background-color: transparent;
    color: variables.$teal;
    transition: background-color variables.$transition-fast, border-color variables.$transition-fast,
        box-shadow variables.$transition-fast;

    &:hover {
        background-color: variables.$surface-translucent-hover;
        border-color: variables.$teal;
        box-shadow: variables.$shadow-teal-hover;
    }
}