@use '../abstract/variables.scss' as variables;

body {
    color: variables.$theme-primary;
}

.d-none {
    display: none !important;
}

button {
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: variables.$theme-primary;
}

ul {
    margin: 0;
    list-style-type: none;
}