@use '../abstract/_variables.scss' as variables;
@use '../abstract/_mixins.scss' as mixins;

/* === GLOBAL === */
body {
    position: relative;
    box-sizing: border-box;
    max-width: variables.$content-max-width;
    margin: 0 auto;
    color: variables.$theme-primary;
}

main {
    @include mixins.flex-center(column);
    position: relative;
}

/* === UTILITIES === */
.d-none {
    display: none !important;
}

.visually-hidden {
    @include mixins.visually-hidden;
}

/* === ELEMENT RESETS === */
button {
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: variables.$theme-primary;
}

ul {
    margin: 0;
    list-style-type: none;
}