@use '../abstract/variables.scss' as variables;

body {
    color: variables.$theme-primary;
}

.d-none {
    display: none !important;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
}

button {
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: variables.$theme-primary;
}

ul {
    margin: 0;
    list-style-type: none;
}