@use "sass:map";
@use "../abstract/variables.scss" as variables;

$themes: (
  "code-vibes": (
    page-bg: #303131,
    header-bg: transparent,
    score-bg: variables.$surface-translucent,
    card-bg: variables.$teal,
    card-radius: 0,
    text: variables.$white,
    accent: variables.$teal,
    exit-bg: variables.$surface-translucent,
    exit-text: variables.$white,
    exit-border: variables.$teal,
    exit-border-width: 1px,
    exit-bg-hover: rgba(134, 233, 214, 0.26),
    exit-text-hover: variables.$white,
    exit-shadow-hover: (inset 0 0 0 2px #4dd5bc, 4px 4px 6px 0 rgba(77, 213, 188, 0.2)),
    exit-dialog-back-to-game-color: variables.$white,
    exit-dialog-back-to-game-bg: variables.$teal,
    exit-dialog-back-to-game-hover: (inset 0 0 0 2px #4dd5bc, 4px 4px 6px 0 rgba(77, 213, 188, 0.2)),
    exit-dialog-back-to-game-hover-bg-color: rgba(134, 233, 214)
  ),
  "da-projects": (
    page-bg: variables.$white,
    header-bg: #eef2f4,
    score-bg: variables.$white,
    card-bg: #1b7f9e,
    card-radius: 8px,
    text: variables.$theme-secondary,
    accent: variables.$theme-secondary,
    exit-bg: #BFE5F2,
    exit-text: variables.$theme-secondary,
    exit-border: transparent,
    exit-border-width: 1px,
    exit-bg-hover: variables.$theme-secondary,
    exit-text-hover: variables.$white,
    exit-shadow-hover: none,
    exit-dialog-back-to-game-color: variables.$theme-secondary,
    exit-dialog-back-to-game-bg: #BFE5F2,
    exit-dialog-back-to-game-hover: none,
    exit-dialog-back-to-game-hover-bg-color: variables.$theme-secondary,
  ),
);

@each $name, $values in $themes {
  .theme-#{$name} {
    --page-bg: #{map.get($values, page-bg)};
    --header-bg: #{map.get($values, header-bg)};
    --score-bg: #{map.get($values, score-bg)};
    --card-bg: #{map.get($values, card-bg)};
    --card-radius: #{map.get($values, card-radius)};
    --text: #{map.get($values, text)};
    --accent: #{map.get($values, accent)};
    --exit-bg: #{map.get($values, exit-bg)};
    --exit-text: #{map.get($values, exit-text)};
    --exit-border: #{map.get($values, exit-border)};
    --exit-border-width: #{map.get($values, exit-border-width)};
    --exit-bg-hover: #{map.get($values, exit-bg-hover)};
    --exit-text-hover: #{map.get($values, exit-text-hover)};
    --exit-shadow-hover: #{map.get($values, exit-shadow-hover)};
    --exit-dialog-back-to-game-color: #{map.get($values, exit-dialog-back-to-game-color)};
    --exit-dialog-back-to-game-bg: #{map.get($values, exit-dialog-back-to-game-bg)};
    --exit-dialog-back-to-game-hover: #{map.get($values, exit-dialog-back-to-game-hover)};
    --exit-dialog-back-to-game-hover-bg-color: #{map.get($values, exit-dialog-back-to-game-hover-bg-color)};
  }
}